* {
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0cca0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Roboto', sans-serif;
  }
  
  a {
    color: #3f3c3c;
    text-decoration: none;
  }
  
  /*CLASES AUXILIARES*/
  .secciones {
    margin: 100px 0;
    padding: 0 100px;
  }
  
  /* HORIZONTAL */
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  /* VERTICAL*/
  .flex-c {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .flex-jc-c {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  /*-----------------*/
  /*sass 1 */
  * {
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0cca0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Roboto', sans-serif;
  }
  
  a {
    color: #3f3c3c;
    text-decoration: none;
  }